.App {
  width: 2020px; margin: 0 auto ;
  padding-left: 300px;
  padding-top: 210px;
  padding-bottom: 500px;
  padding-right: 300px;
  background-image: url(https://cdn.discordapp.com/attachments/851355618643017740/916250333951438888/25561940.jpg);
}



